fastapi
uvicorn
gunicorn
sqlalchemy
aiosqlite
asyncpg
pydantic
python-dotenv
google-generativeai
google-genai
fpdf
python-multipart
itsdangerous
fastapi-mail
websockets
pydub
Pillow
passlib[bcrypt]
bcrypt
PyJWT
httpx
reportlab
pyaudioop
legacy-cgi
